<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carga de Calificaciones</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }

        th {
            text-align: center;
        }
    </style>
</head>
<body>
    <h1>Carga de Calificaciones</h1>
    {% if data %}
        <table border="1">
            <tr>
                <th style="width: 50%">Nombre</th>
                <th style="width: 25%">AA</th>
                <th style="width: 25%">EF</th>
            </tr>
            {% for index, row in data.iterrows() %}
                <tr>
                    <td>{{ row['Nombre'] }}</td>
                    <td>{{ row['AA'] }}</td>
                    <td>{{ row['EF'] }}</td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
    {% if error %}
        <p>{{ error }}</p>
    {% endif %}
</body>
</html>
